.main-page-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.page-content {
    flex: 1;
    padding: 25px;
    background-color: #f7f7f7;
}

.bottom-nav {
    display: flex;
    justify-content: space-around;
    background-color: #28a745;
    padding: 5px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
    height: 60px;
}

.nav-item {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
    transition: background-color 0.3s ease-in-out, border-radius 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.nav-item.active {
    background-color: white;
    color: #28a745; 
    border-radius: 40px; 
    transform: scale(1.1);
}

.nav-item:hover {
    background-color: white;
    color: #28a745;
    border-radius: 40px;
    transform: scale(1.05);
}

.nav-item svg {
    font-size: 24px;
}

.nav-item.active svg {
    color: #28a745; 
}

.nav-item svg:hover {
    color: #28a745;
}
