.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 20px 20px; /* Add padding to the top for navbar */
    background-color: #f0f0f0; /* Off-white background */
    height: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.username {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}

.menu-button {
    background-color: white;
    color: #28a745;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px 0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;
    display: flex;
    align-items: center;
    text-decoration: none; /* Ensure no underline on links */
}

.menu-button:hover {
    transform: translateY(-2px);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.menu-button svg {
    margin-right: 8px; /* Space between icon and text */
}

/* If the button is a link (using Link from react-router), remove default text styling */
.menu-button a {
    text-decoration: none;
    color: inherit; /* Ensure it inherits the button color */
}
